
/*
=======================================================
Homepage styles
=========================================================
*/

article h2 {text-align:center;}
article {font-family: Arial, Helvetica, sans-serif;margin: 20px 5px 5px 10px;}
.homeimage {height:250px; width:250px;float:right;margin:10px 10px 10px 10px;}


/*
=======================================================
Goals page styles
=========================================================
*/



/*
=======================================================
Skills page styles
=========================================================
*/



/*
=======================================================
Resume page styles
=========================================================
*/



/*
=======================================================
Contact page styles
=========================================================
*/